body {
    font-family: 'Poppins', sans-serif;
background-image: url('https://wallpapers.com/images/hd/doodle-glowing-artwork-vhu5ts3hs8bxyq5a.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3498db;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease; /* Add a smooth transition to box-shadow */
}

h1 {
    color: #2c3e50;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #34495e;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    transition: border-color 0.3s ease; /* Add a smooth transition to border-color */
}

input:focus {
    border-color: #3498db; /* Change border color on focus */
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition to background-color */
}

button:hover {
    background-color: #27ae60;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1;
    transition: background-color 0.3s ease; /* Add a smooth transition to background-color */
}

li:hover {
    background-color: #dfe6e9; /* Lighter gray on hover */
}

.alert {
    color: #e74c3c;
}
